.c-home {
  text-align: center;
}
.c-home img {
  width: 360px;
}
.c-home .btn-go-started{
  border-radius: 25px;
  padding: 5px 40px;
}
.circle-bar{
   display: inline-block;
   width: 20px;
   height: 20px;
   border-radius: 10px;
   background-color: #999;
 }
 .circle-bar.active{
   background-color: #2ecc71;
 }

 .avatar {
  width: 150px;
  height: 150px;
  margin-bottom: 20px;
  border-radius: 50%;
  border: 2px solid rgba(0,0,0,.05);
}
